
body {
  font-family: 'Rubik Mono One', sans-serif;
  background: linear-gradient(135deg, #8b1e1e, #d94a4a, #ff9999);
  background-size: 400% 400%;
  animation: gradientShift 18s ease infinite;
  color: #2e2e2e;
  text-align: center;
  padding: 20px;
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, p, input, button, span {
  color: #e6e5e5;
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

h1 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 3rem;
  color: #e6e5e5;
  text-align: center;
  margin: 40px 0;
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,
     2px  2px 5px rgba(0, 0, 0, 0.5); /* drop shadow */
}

.container {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input#englishInput {
  width: 80%;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #111;
  border: none;
  color: #fff;
}

button#translateBtn, button#playAudio {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #222;
  color: #fff;
  border: none;
  cursor: pointer;
}

button#translateBtn:hover, button#playAudio:hover {
  background-color: #333;
}

img#resultImage {
  margin-top: 20px;
  max-width: 80%;
  border: 2px solid #444;
}

#chineseText {
  font-family: 'Noto Serif SC', serif;
  font-size: 2rem;
}



/* Font styles for English and Chinese text */ 
.english {
  font-family: 'Tagesschrift', serif;
   color: #e6e5e5;
}

.chinese {
  font-family: 'Noto Serif SC', serif;
  color: #e6e5e5;
}